:root {
  --gray-950: rgb(8, 7, 11);
  --gray-900: rgb(20, 19, 27);
  --gray-850: rgb(24, 23, 31);
  --gray-800: rgb(36, 35, 44);
  --gray-700: rgb(84, 83, 91);
  --gray-600: rgb(128, 124, 146);
  --gray-200: rgb(230, 229, 234);
  --green-200: rgb(164, 255, 175);
  --yellow-300: rgb(248, 205, 101);
  --orange-400: rgb(251, 124, 88);
  --red-500: rgb(246, 74, 74);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-size: min(1.11vw, 1.55vh);
  font-family: "JetBrains Mono", monospace;
}

body {
  background: linear-gradient(to bottom, var(--gray-900), var(--gray-950));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.main-container {
  width: min(37.5vw, 52.53vh);
  height: min(67.5vh, 48.33vw);
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray-600);
  margin-bottom: 2rem;
}

.password-container {
  position: relative;
}

.password-input {
  width: 100%;
  height: auto;
  font-size: 2rem;
  color: var(--gray-200);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--gray-800);
  outline: none;
  border: none;
}

.password-input::placeholder {
  color: var(--gray-700);
}

.copy-icon {
  background-color: transparent;
  width: 2rem;
  height: auto;
  position: absolute;
  right: 2rem;
  top: 25%;
}

.user-selections-section {
  background-color: var(--gray-800);
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-range-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.range-label {
  color: var(--gray-200);
  font-size: 1.25rem;
  overflow: hidden;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    var(--green-200) 50%,
    var(--gray-850) 50%
  );
  transition: background 0.3s ease;
  height: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  transition: width 0.25s cubic-bezier(0.175, 0.885, 0.35, 1.275);
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.35, 1.275);
  background: var(--gray-200);
  border-radius: 50%;
}

.range-slider::-webkit-slider-thumb:hover {
  accent-color: var(--gray-800);
  border: 2px solid var(--green-200);
  background: var(--gray-850);
}

.range-slider::-webkit-slider-thumb:active {
  accent-color: var(--gray-800);
  border: 2px solid var(--green-200);
  background: var(--gray-850);
  width: 1.75rem;
  height: 1.75rem;
}

.range-counter {
  color: var(--green-200);
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -0.5rem;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-200);
  font-size: 1.125rem;
}

.check-self-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1875rem solid var(--gray-200);
}

.checkbox:hover {
  border-color: var(--green-200);
}

.checkbox:checked {
  background-size: cover;
  padding: 2px;
}

.checkbox:not(:disabled):checked {
  border-color: var(--green-200);
  background-color: var(--green-200);
  background-image: url(images/icon-check.svg);
}

.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-850);
  padding: 1.5rem;
}

.strength-text {
  color: var(--gray-600);
  font-size: 1.5rem;
  font-weight: 700;
}

.strength-label {
  opacity: 0;
  color: var(--gray-200);
  font-size: 1.75rem;
  font-weight: 700;
}

.strength-value-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.strength-boxes-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.str-box {
  border: 1px solid var(--gray-200);
  width: 1rem;
  height: 100%;
}

.str-box-1 {
  background-color: transparent;
}

.str-box-2 {
  background-color: transparent;
}

.str-box-3 {
  background-color: transparent;
}

.str-box-4 {
  background-color: transparent;
}

.generate-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--green-200);
  padding: 1.5rem;
  border: 2px solid transparent;
  letter-spacing: 0.125rem;
}

.generate-btn:hover {
  border: 2px solid var(--green-200);
  background-color: var(--gray-800);
  color: var(--green-200);
}

.generate-text {
  font-size: 1.125rem;
  font-weight: 700;
}

.right-arrow-icon {
  width: 1rem;
  height: 1rem;
}
