:root {
  --gray-950: rgb(8, 7, 11);
  --gray-900: rgb(20, 19, 27);
  --gray-850: rgb(24, 23, 31);
  --gray-800: rgb(36, 35, 44);
  --gray-700: rgb(84, 83, 91);
  --gray-600: rgb(128, 124, 146);
  --gray-200: rgb(230, 229, 234);
  --green-200: rgb(164, 255, 175);
  --yellow-300: rgb(248, 205, 101);
  --orange-400: rgb(251, 124, 88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;
}

body {
  background: linear-gradient(to bottom, var(--gray-900), var(--gray-950));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.main-container {
  border: 2px solid red;
  width: 37.5vw;
  height: 67.5vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: var(--gray-600);
  margin-bottom: 2rem;
}

.password-input {
  width: 100%;
  height: auto;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--gray-800);
  outline: none;
  border: none;
}

.password-input::placeholder {
  color: var(--gray-700);
}

.user-selections-section {
  background-color: var(--gray-800);
  padding: 2rem;
}

.password-range-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.range-label {
  color: var(--gray-200);
  font-size: 1.25rem;
  overflow: hidden;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    var(--green-200) 50%,
    var(--gray-850) 50%
  );
  transition: background 0.3s ease;
  height: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--gray-200);
  border-radius: 50%;
}

.range-slider::-webkit-slider-thumb:hover,
.range-slider::-webkit-slider-thumb:active {
  accent-color: var(--gray-800);
  border: 2px solid var(--green-200);
  background: var(--gray-850);
}
